* {
    box-sizing: border-box;
    user-select: none;
}

body {
    overflow: hidden;
    margin: 0;
    height: 100vh;
    background-color: black;
}

.container {
    width: 200vw;
    height: 100vh;
    display: flex;
    transition: transform 1s;
    background-color: rgb(184, 116, 27);
    z-index: 0;
    padding-bottom: 20vh;
}

.container.move {
    transform: translateX(-100vw);
}

.room1 {
    background-image: url(./images/background.webp);
    width: 50%;
    height: 100%;
    display: flex;
    z-index: 1;
}

.room2 {
    background-image: url(./images/background.webp);
    width: 50%;
    height: 100%;
    display: flex;
    z-index: 1;
}

.right-arrow, .left-arrow {
    display: none;
    position: absolute;
    right: 10px;
    top: 40vh;
    height: 20vh;
    z-index: 2;
}

.left-arrow {
    left: 10px;
}

.right-arrow.appear, .left-arrow.appear {
    display: block;
}

.darken.appear {
    display: block;
}

.popup.appear {
    display: flex;
}

.right-arrow:hover, .left-arrow:hover, .clickable:hover, .book:hover, .paper-ball:hover, .item:hover, .key:hover {
    filter: brightness(0.8);
}

.clock-container{
    width: 15%;
    padding: 3% 10%;
}

.clock-container > img, #shelf {
    width: 150px;
}

.shelf-container{
    display:flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    margin-left: 5%;
}

.shelf-image {
    height: 70%;
    box-sizing: content-box;
}

.shelf-image:hover {
    border: 8px solid yellow;
}

.bookshelf-container {
    display: flex;
    align-items: end;
    width: 30%;
    justify-content: center;
}

.frame-container {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#bookshelf {
    height: 80%;
}

.darken {
    background-color: rgb(0, 0, 0, 0.5);
    height: 100vh; 
    width: 100vw;
    position: absolute;
    display: none;
    z-index: 2;
    top: 0;
}

.popup {
    display: none;
    position: absolute;
    width: 80vw;
    height: 70vh;
    background-color: beige;
    left: 10vw;
    top: 15vh;
    z-index: 5;
    border-radius: 15px;
}

.bookshelf, .shelf {
    justify-content: center;
    gap: 2px;
    align-items: center;
}

.book {
    width: 50px; 
    height: 370px;
    background-color: red;
    transition: order 1s;
}

.book.selected {
    border: 5px solid yellow;
}

.book.done:hover {
    filter: brightness(1) !important;

}

.inventory {
    width: 100vw;
    height: 10vh;
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    gap: 5vw;
    padding: 0 5vw;

}

.item {
    aspect-ratio: 1;
    height: 9vh;
    border: 5px solid #e6e6e6;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 10;
}

.item > img {
    width: 90%;
    pointer-events: none;
    object-fit: contain;
}

.item.selected {
    border-color: yellow;
}

.paper-ball {
    width: 50px;
}

.piano-container {
    display: flex;
    align-items: end;
    justify-content: center;
    width: 50%;
    gap: 5vw;
}

.piano-container > img{
    object-fit:contain;
}

.piano {
    align-items: center;
    justify-content: center;
    display: none;
}

.piano.appear {
    display: flex;
}

.keysw{
    border : 1px solid black;
    background-color : white;
    height : 200px;
    width : 50px;
    display: flex;
    justify-content: center;
    align-items: end;
}

.keysbparents{
    top : 31%;
    position : absolute;
    display : flex;
    justify-content: center;
    width: 500px;
    gap: 70px;
    pointer-events: none;
}

.keysbparents > div {
    display: flex;
    gap: 20px;
    pointer-events: none;
}

.keysb{
    position : relative;
    background-color : rgb(2, 2, 2);
    height : 130px;
    width : 30px;
    display: flex;
    align-items: end;
    justify-content: center;
    pointer-events: all;
    color: white;
}

.keysb:hover{
    border : 1px solid blue;
}

.keysw:hover{
    border : 1px solid blue;
}

.door-container {
    display: flex;
    width: 30%;
    justify-content: center;
    align-items: end;
}

.shelf-container, .bookshelf-container {
    margin-bottom: -5vh;
}

.piano-container {
    margin-bottom: -10vh;
}