* {
    box-sizing: border-box;
    user-select: none;
}

body {
    overflow: hidden;
    margin: 0;
    height: 100vh;
    background-color: black;
}

.container {
    width: 200vw;
    height: 100vh;
    display: flex;
    transition: transform 1s;
    background-color: rgb(184, 116, 27);
    z-index: 0;
    padding-bottom: 20vh;
}

.container.move {
    transform: translateX(-100vw);
}

.room1 {
    background-image: url(./images/background.webp);
    width: 50%;
    height: 100%;
    display: flex;
    z-index: 1;
}

.room2 {
    background-image: url(./images/background.webp);
    width: 50%;
    height: 100%;
    display: flex;
    z-index: 1;
}

.right-arrow, .left-arrow {
    display: none;
    position: absolute;
    right: 10px;
    top: 40vh;
    height: 20vh;
    z-index: 2;
}

.left-arrow {
    left: 10px;
}

.right-arrow.appear, .left-arrow.appear {
    display: block;
}

.darken.appear {
    display: block;
}

.popup.appear {
    display: flex;
}

.right-arrow:hover, .left-arrow:hover, .clickable:hover, .book:hover, .paper-ball:hover, .item:hover, .key:hover, .drawer-piece:hover, .piano-note {
    filter: brightness(0.8);
}

.clock-container{
    width: 15%;
    padding: 3% 10%;
}

.clock-container > img, #shelf {
    width: 150px;
}

.shelf-container{
    display:flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    margin-left: 5%;
}

.shelf-image {
    height: 70%;
    box-sizing: content-box;
}

.shelf-image:hover {
    border: 8px solid yellow;
}

.bookshelf-container {
    display: flex;
    align-items: end;
    width: 30%;
    justify-content: center;
}

.frame-container {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.square {
    box-sizing: content-box;
    border: 5px solid brown;
    height: 100%;
    aspect-ratio: 1;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
}

.piece {
    width: 100%;
}

.frame-note {
    display: none;
    position: absolute;
    transition: transform 1s;
}

.frame-note.appear {
    display: block;
    transform: translateX(5vw) rotate(45deg);
}

.frame > div {
    display: flex;
    align-items: end;
    justify-content: end;
    height: 80%;
}

.missing:hover {
    background-color: rgba(159, 159, 159, 0.5);
}

.drawer-piece {
    display: none;
    position: absolute;
    height: 5vh;
    top: 40vh;
}

.drawer-piece.appear {
    display: inline-block;
}

#bookshelf {
    height: 80%;
}

.darken {
    background-color: rgb(0, 0, 0, 0.5);
    height: 100vh; 
    width: 100vw;
    position: absolute;
    display: none;
    z-index: 2;
    top: 0;
}

.popup {
    display: none;
    position: absolute;
    width: 80vw;
    height: 70vh;
    background-color: beige;
    left: 10vw;
    top: 15vh;
    z-index: 5;
    border-radius: 15px;
    overflow: hidden;
}

.bookshelf, .shelf, .frame {
    justify-content: center;
    gap: 2px;
    align-items: center;
}

.book {
    width: 50px; 
    z-index: 1;
    transition: transform 1s;
}

.bookdiv {
    display: flex;
    align-items: end;
    height: 80%;
}

.bookdiv.clear > .book {
    transform: translateY(100vh);
}

.book.selected {
    border: 5px solid yellow;
    box-sizing: content-box;
}

.book.done:hover {
    filter: brightness(1) !important;
}

.book-note {
    position: absolute;
}

.inventory {
    width: 100vw;
    height: 10vh;
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    gap: 5vw;
    padding: 0 5vw;

}

.item {
    aspect-ratio: 1;
    height: 9vh;
    border: 5px solid #e6e6e6;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 10;
}

.item > img {
    width: 90%;
    pointer-events: none;
    object-fit: contain;
}

.item.selected {
    border-color: yellow;
}

.paper-ball {
    width: 50px;
}

.piano-container {
    margin-bottom: -10vh;
    display: flex;
    align-items: end;
    justify-content: center;
    flex-basis: 50%;
    width: 50%;
    gap: 5vw;
}

.piano-container > img{
    object-fit:contain;
}

.piano {
    align-items: center;
    justify-content: center;
    display: none;
}

.piano > div {
    display: flex;
}

.piano.appear {
    display: flex;
}

.keysw{
    border : 1px solid black;
    background-color : white;
    height : 200px;
    width : 50px;
    display: flex;
    justify-content: center;
    align-items: end;
}

.keysbparents {
    position : absolute;
    display : flex;
    justify-content: center;
    width: 500px;
    gap: 70px;
    pointer-events: none;
}

.keysbparents > div {
    display: flex;
    gap: 20px;
    pointer-events: none;
}

.keysb{
    position : relative;
    background-color : rgb(2, 2, 2);
    height : 130px;
    width : 30px;
    display: flex;
    align-items: end;
    justify-content: center;
    pointer-events: all;
    color: white;
}

.keysb:hover{
    border : 1px solid blue;
}

.keysw:hover{
    border : 1px solid blue;
}

.door-container {
    display: flex;
    width: 30%;
    justify-content: center;
    align-items: end;
}

.shelf-container, .bookshelf-container {
    margin-bottom: -5vh;
}

.upper {
    width: 100vw;
    height: 15vh;
    margin-top: -15vh;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    z-index: 10;
    transition: all 1s;
    color: white;
    font-size: 54px;
    
}

.upper.appear {
    transform: translateY(15vh);
}

.key-container {
    width: 10%;
    display: flex;
    align-items: end;
    margin-bottom: -10vh;
}