* {
    box-sizing: border-box;
    user-select: none;
    font-size: 20px;
}

body {
    overflow: hidden;
    margin: 0;
    background-color: black;
    transition: all 1s;
}

.container, .container2 {
    width: 200vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 100vw 100vw;
    transition: transform 1s;
    background-color: rgb(184, 116, 27);
    z-index: 0;
    padding-bottom: 20vh;
}

.container.move, .container2.move {
    transform: translateX(-100vw);
}

.container.up, .container2.up {
    transform: translateX(-100vw) translateY(-100vh);
}

.container2.left {
    transform: translateY(-100vh);
}

.room1, .room2, .room3, .final-room {
    background-image: url(./images/background.webp);
    height: 100%;
    display: flex;
    align-items: end;
    z-index: 1;
}

.lobby{
    width: 100vw;
    height: 100%;
    transition: transform 1s;
    display: flex;
    background-image: url(./images/background.webp);
}

.right-arrow, .left-arrow {
    display: none;
    position: absolute;
    right: 10px;
    top: 40vh;
    height: 20vh;
    z-index: 2;
}

.left-arrow {
    left: 10px;
}

.right-arrow.appear, .left-arrow.appear {
    display: block;
}

.darken.appear {
    display: block;
}

.popup.appear {
    display: flex;
}

.right-arrow:hover, .left-arrow:hover, .clickable:hover, .book:hover, .paper-ball:hover, .item:hover, .key:hover, .drawer-piece:hover, .book-note:hover, .frame-note:hover, .hole:hover, .hover:hover, .last-note:hover, .pianoadd:hover, .play:hover {
    filter: brightness(0.8);
}

.clock-container{
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    gap: 40vh;
}

#shelf {
    width: 150px;
}

.shelf-container{
    display:flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    margin-left: 5%;
}

.shelf-image {
    height: 70%;
    box-sizing: content-box;
}

.shelf-image:hover {
    border: 8px solid yellow;
}

.bookshelf-container {
    display: flex;
    align-items: end;
    width: 30%;
    justify-content: center;
}

.frame-container {
    padding-top: 20vh;
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    gap: 40vh;
}

.square {
    box-sizing: content-box;
    border: 5px solid brown;
    height: 100%;
    aspect-ratio: 1;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
}

.piece {
    width: 100%;
}

.frame-note {
    position: absolute;
    transition: transform 1s;
    z-index: -1;
}

.frame-note.appear {
    transform: translateX(5vw) rotate(45deg);
}

.frame > div {
    display: flex;
    align-items: end;
    justify-content: end;
    height: 80%;
}

.missing:hover {
    background-color: rgba(159, 159, 159, 0.5);
}

.drawer-piece {
    display: none;
    position: absolute;
    height: 5vh;
    top: 40vh;
}

.drawer-piece.appear {
    display: inline-block;
}

#bookshelf {
    height: 80%;
}

.darken {
    background-color: rgb(0, 0, 0, 0.5);
    height: 100vh; 
    width: 100vw;
    position: absolute;
    display: none;
    z-index: 2;
    top: 0;
}

.popup {
    display: none;
    position: absolute;
    width: 80vw;
    height: 70vh;
    background-color: beige;
    left: 10vw;
    top: 15vh;
    z-index: 5;
    border-radius: 15px;
    overflow: hidden;
}

.bookshelf, .shelf, .frame {
    justify-content: center;
    gap: 2px;
    align-items: center;
}

.book {
    width: 50px; 
    z-index: 1;
    transition: transform 1s;
}

.bookdiv {
    display: flex;
    align-items: end;
    height: 80%;
}

.bookdiv.clear > .book {
    transform: translateY(100vh);
}

.book.selected {
    border: 5px solid yellow;
    box-sizing: content-box;
}

.book.done:hover {
    filter: brightness(1) !important;
}

.book-note {
    position: absolute;
}

.inventory {
    width: 100vw;
    height: 10vh;
    position: absolute;
    bottom: 0;
    display: none;
    align-items: center;
    gap: 5vw;
    padding: 0 5vw;
}

.inventory.appear {
    display: flex;
}

.item {
    aspect-ratio: 1;
    height: 9vh;
    border: 5px solid #e6e6e6;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 10;
}

.item > img {
    width: 90%;
    pointer-events: none;
    object-fit: contain;
}

.item.selected {
    border-color: yellow;
}

.paper-ball {
    width: 50px;
}

.piano-container {
    margin-bottom: -10vh;
    display: flex;
    align-items: end;
    justify-content: center;
    flex-basis: 50%;
    width: 50%;
    gap: 5vw;
}

.piano-container > img{
    object-fit:contain;
}

.piano {
    align-items: center;
    justify-content: center;
    display: none;
}

.piano > div {
    display: flex;
}

.piano.appear {
    display: flex;
}

.keysw{
    border : 1px solid black;
    background-color : white;
    height : 200px;
    width : 50px;
    display: flex;
    justify-content: center;
    align-items: end;
}

.keysbparents {
    position : absolute;
    display : flex;
    justify-content: center;
    width: 500px;
    gap: 70px;
    pointer-events: none;
}

.keysbparents > div {
    display: flex;
    gap: 20px;
    pointer-events: none;
}

.keysb{
    position : relative;
    background-color : rgb(2, 2, 2);
    height : 130px;
    width : 30px;
    display: flex;
    align-items: end;
    justify-content: center;
    pointer-events: all;
    color: white;
}

.keysb:hover{
    border : 1px solid blue;
}

.keysw:hover{
    border : 1px solid blue;
}

.door-container {
    display: flex;
    width: 30%;
    justify-content: center;
    align-items: end;
}

.shelf-container, .bookshelf-container {
    margin-bottom: -5vh;
}

.upper {
    width: 100vw;
    height: 15vh;
    margin-top: -15vh;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    z-index: 10;
    transition: all 1s;
    color: white;
    font-size: 54px;
    
}

.upper.appear {
    transform: translateY(15vh);
}

.key-container {
    width: 10%;
    height : 10%;
    display: flex;
    align-items: end;
    margin-bottom: -10vh;
}

.note {
    padding: 5% 15%;
    font-size: 24px;
    text-align: center;
    line-height: 1.5;
}

.table-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    width: 50%;
    height: 110%;
}   

.table-container > img{
    object-fit:contain;
    margin-bottom: -10vh;
}

.table-container > div{
    display: grid;
    gap: 5px;
    width: 200px;
    height: 5vh;
    grid-template-columns: 1fr 1fr;
    margin-bottom: -2vh;
    z-index: 1;
}

.doorlock-container {
    display: flex;
    align-items: end;
    justify-content: center;
    width: 20%;
}

.doorlock-container > img{
    object-fit:contain;
    width: 200px;
}

.doorlock{
    display: none;
    justify-content : center;
    align-items: center;
    flex-direction: column;
}

.locks {
    position: absolute;
    width: 5vw;
    height: 18vh;
    bottom: 50vh;
    display: none;
    grid-template-rows: 1fr 1fr 1fr;
}

#doorlock, #timelock, #pianolock {
    width: 100%;
}

.locks.appear {
    display: grid;
}

.alarmclock{
    display: none;
    justify-content : center;
    align-items: center;
    flex-direction: column;
}

.thetime{
    width : 50vw;
    height : 25vw;
    font-size : 8vw;
}

.alarmtime{
    height : 5vh;
    width : 100px;
    background-color : black;
    font-size : 20px;
    color : white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid red;
}

.piano2, .piano1, .piano3{
    display: none;
    justify-content : center;
    align-items: center;
}

.piano2 > img, .piano1 > img, .piano3 > img {
    width: 100%;
}

.start {
    background-image: url(./images/background.webp);
    position: absolute;
    width: 110vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 10;
    display: flex;
    flex-direction: column;
    gap: 20vh;
    align-items: center;
    padding: 10%;
    padding-right: calc(10% + 10vw);
    transition: all 1s;
}

.start.fade {
    filter: opacity(0);
    pointer-events: none;
}

.title {
    font-size: 64px;
    color: white;
}